-person = locals[:person]
-credits = locals[:credits]

-pp person
-pp credits

.well.well-sm
  .row
    .col-md-3.col-sm-3.col-xs-12
      %img{ :src => "http://image.tmdb.org/t/p/w154/#{person['profile_path']}"}
      %br
      %br
      %h4 Facts
      Place of Birth: #{person['place_of_birth']}
      %br
      Birthday:  #{person['birthday']}
      %br
      Popularity: #{person['popularity'].round(2)}
      %br
      Website:
      %a{:href => "#{person['homepage']}"}Link
      %br

    .col-md-9.col-sm-9
      %h2 #{person['name']}
      %br
      %p #{person['biography']}
      %br