-person = locals[:person]
-credits = locals[:credits]

-pp person

.well.well-sm
  .row
    .col-md-3.col-sm-3.col-xs-12
      %img{ :src => "http://image.tmdb.org/t/p/w154/#{person['profile_path']}"}
      %br
      %br
      %h4 Facts
      Place of Birth: #{person['place_of_birth']}
      %br
      Birthday:  #{person['birthday']}
      %br
      Popularity: #{person['popularity'].round(2)}
      %br
      Website:
      %a{:href => "#{person['homepage']}"}Link
      %br

    .col-md-9.col-sm-9
      %h2 #{person['name']}
      %br
      %p #{person['biography']}
      %br
      %h4 Appears In:
      -if credits.length == 0
        %h5 No people found
      -else
        %table.table.table-hover#people-table
          %thead
            %tr
              %th credits
              %th Name
          %tbody
          -credits.each do |credit|
            -pp credit
            -puts "=================================="

            -unless credit['character'].empty? || credit['media_type'].empty?
              -if credit['media_type'] == 'movie'
                -link = "/movie/#{credit['id']}"
              -elsif credit['media_type'] == 'tv'
                -link = "/tv/#{credit['id']}"
              %tr.credits-row
                %td
                  %a{:href => "#{link}"}
                    -if credit['poster_path']
                      %img.credits-image{ :src => "http://image.tmdb.org/t/p/w154/#{credit['poster_path']}"}
                %td
                  #{credit['character']} in 
                  %a{:href => "#{link}"} #{credit['name']}
                  %br