-movies = locals[:movies]
-people = locals[:people]
-shows = locals[:shows]

.well.well-sm
  %div{:role => "tabpanel"}
    / Nav tabs
    %ul.nav.nav-tabs#search-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "movies", "data-toggle" => "tab", :href => "#movies-tab-pane", :role => "tab"} Movies
      %li{:role => "presentation"}
        %a{"aria-controls" => "tv", "data-toggle" => "tab", :href => "#tv-tab-pane", :role => "tab"} TV Shows
      %li{:role => "presentation"}
        %a{"aria-controls" => "people", "data-toggle" => "tab", :href => "#people-tab-pane", :role => "tab"} People

    / Tab panes
    .tab-content
      #movies-tab-pane.tab-pane.fade.in.active{:role => "tabpanel"}
        / Movie search results go here
        -if movies.length == 0
          %h5 No movies found
        -else
          %table.table.table-hover#movies-table
            %tbody
            -movies.each do |movie|
              %tr
                %td
                  %a{:href => "/movie/#{movie.id}"}
                    %img{ :src => "http://image.tmdb.org/t/p/w154/#{movie.poster_path}"}
                %td
                  %a{:href => "/movie/#{movie.id}"} #{movie.title}
                  (#{movie.release_date.split('-').first unless movie.release_date.nil?})
                  -# %br
                  -# Director: 
                  -# -Tmdb::Movie.crew[movie.id].each do |crew|
                  -#   -if crew['department'] == 'Directing' do |director|
                  -#     %a{:href => "/person/#{director.id}"} #{director.name}
                  %br
                  -# Starring:
                  -# -Tmdb::Movie.casts["#{movie.id}"].first(4).each do |star|
                  -#   %a{:href => "/person/#{star.id}"} #{star.name}
                  %br
                  #{movie.overview}

      #tv-tab-pane.tab-pane.fade{:role => "tabpanel"}
        / TV Show search results go here
        -if shows.length == 0
          %h5 No TV shows found
        -else
          %table.table.table-hover#shows-table
            %tbody
            -shows.each do |show|
              %tr
                %td
                  %a{:href => "/tv/#{show.id}"}
                    %img{ :src => "http://image.tmdb.org/t/p/w154/#{show.poster_path}"}
                %td
                  %a{:href => "/tv/#{show.id}"} #{show.title}
                  (#{show.release_date})
                  %br
                  %br
                  #{show.overview}

      #people-tab-pane.tab-pane.fade{:role => "tabpanel"}
        / People search results go here
        -if people.length == 0
          %h5 No people found
        -else
          %table.table.table-hover#people-table
            %tbody
            -people.each do |person|
              %tr
                %td
                  %a{:href => "/person/#{person.id}"}
                    %img{ :src => "http://image.tmdb.org/t/p/w154/#{person.profile_path}"}
                %td
                  %a{:href => "/person/#{person.id}"} #{person.name}
                  (#{person.birthday}) - (#{person.deathday})
                  %br



:javascript

  // Javascript for changing between tabs
  $(document).ready(function(){ 
      $("#search-tabs li:eq(1) a").tab('show');
  });