-movies = locals[:movies]
-people = locals[:people]

.well.well-sm
  %div{:role => "tabpanel"}
    / Nav tabs
    %ul.nav.nav-tabs#search-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "movies", "data-toggle" => "tab", :href => "#movies-tab-pane", :role => "tab"} Movies
      %li{:role => "presentation"}
        %a{"aria-controls" => "people", "data-toggle" => "tab", :href => "#people-tab-pane", :role => "tab"} People
      %li{:role => "presentation"}
        %a{"aria-controls" => "test", "data-toggle" => "tab", :href => "#test-tab-pane", :role => "tab"} Test
    / Tab panes
    .tab-content
      #movies-tab-pane.tab-pane.fade.in.active{:role => "tabpanel"}
        / Movie search results go here
        / Dynamically list movie results here
        -if movies.length == 0
          %h5 No movies found
        -else
          %table.table.table-hover#movies-table
            %tbody
            -movies.each do |movie|
              %tr
                %td
                  %a{:href => "/movie/#{movie.id}"}
                    %img{ :src => "http://image.tmdb.org/t/p/w154/#{movie.poster_path}"}
                %td
                  %a{:href => "/movie/#{movie.id}"} #{movie.title}
                  (#{movie.release_date})
                  -# %br
                  -# Director: 
                  -# -Tmdb::Movie.crew[movie.id].each do |crew|
                  -#   -if crew['department'] == 'Directing' do |director|
                  -#     %a{:href => "/person/#{director.id}"} #{director.name}
                  %br
                  -# Starring:
                  -# -Tmdb::Movie.casts["#{movie.id}"].first(4).each do |star|
                  -#   %a{:href => "/person/#{star.id}"} #{star.name}
                  %br
                  #{movie.overview}



      #people-tab-pane.tab-pane.fade{:role => "tabpanel"}
        / People search results go here
        / Dynamically list person results here
        -if people.length == 0
          %h5 No people found
        -else
          %table.table.table-hover#people-table
            %tbody
            -people.each do |person|
              %tr
                %td
                  %a{:href => "/person/#{person.id}"}
                    %img{ :src => "http://image.tmdb.org/t/p/w154/#{person.profile_path}"}
                %td
                  %a{:href => "/person/#{person.id}"} #{person.name}
                  (#{person.birthday}) - (#{person.deathday})
                  %br

      #test-tab-pane.tab-pane.fade{:role => "tabpanel"}
        %table.table.table-hover#example
          %thead
            %tr
              %th Sites
          %tbody
            %tbody
              -movies.each do |movie|
                %tr
                  %td
                    %a{:href => "/movie/#{movie.id}"}#{movie.title}
                    -# %img{ :src => "http://image.tmdb.org/t/p/w154/#{movie.poster_path}"}
                    }
                  %td
                    %a{:href => "/movie/#{movie.id}"}#{movie.title}
                    (#{movie.release_date})
                    -# %br
                    -# #{movie.overview}

%script{:charset => "utf8", :src => "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js", :type => "text/javascript"}
%script{:charset => "utf8", :src => "http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js", :type => "text/javascript"}



:javascript

  $('#movies-table').dataTable();
  $('#people-table').dataTable();
  $("#example").dataTable();

  // Javascript for changing between tabs
  $(document).ready(function(){ 
      $("#search-tabs li:eq(1) a").tab('show');
  });