-show = locals[:show]
-cast = locals[:cast]
-images = locals[:images]

-pp show

.well.well-sm
  .row
    .col-md-4.col-sm-4.col-xs-12
      %img{ :src => "http://image.tmdb.org/t/p/w154/#{show['poster_path']}"}
      %br
      %br
      %h4 Show Facts
      -if show['in_production']
        In Production: Yes
      -else
        In Production: No
      %br
      Num of Seasons: #{show['number_of_seasons']}
      %br
      Num of Episodes: #{show['number_of_episodes']}
      %br
      First Air Date: #{show['first_air_date']}
      %br
      Last Air Date: #{show['last_air_date']}
      %br
      Website:
      %a{:href => "#{show['homepage']}"}Link
      %br

    .col-md-8.col-sm-8
      %h2 #{show['title']}
      %br
      %p #{show['overview']}
      %br
      %h4 Cast:
      -if cast.length == 0
        %h5 No people found
      -else
        %table.table.table-hover#people-table
          %tbody
          -cast.each do |actor|
            %tr.cast-row
              %td
                %a{:href => "/person/#{actor['id']}"}
                  -if actor['profile_path']
                    %img.cast-image{ :src => "http://image.tmdb.org/t/p/w154/#{actor['profile_path']}"}
              %td
                %a{:href => "/person/#{actor['id']}"} #{actor['name']}
                as #{actor['character']}
                %br
